.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========================MOBILE ===========================*/

@media sreen and (min-width: 375px) {
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  margin: 0 auto;
}

.categories-box {
  width: 335px;
  height: 228px;
  margin-bottom: 40px;
}
.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.categories-itm {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

.books-box {
  margin: 0 auto;
}
.books-box-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  color: #111;
}
.books-title-span {
  color: #4f2ee8;
}
.books-box-holder {
}
.books-box-subtitle {
}
.books-box-list {
}
.books-box-itm {
}
.books-box-wrap {
  position: relative;
  overflow: hidden;
}
.books-img {
}
.overlay {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 26px 52px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background: #eac645;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  width: 180px;
  height: 70px;
}
.books-box-desc {
}
.books-box-desc-title {
}
.books-box-desc-author {
}
.books-btn-see-more {
}

/* ==================TABLET================= */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .categories-box {
    width: 309px;
    height: 472px;
    margin-bottom: 100px;
  }

  .categories-list {
    gap: 32px;
  }

  .categories-itm {
    font-size: 18px;
    line-height: 1.33333;
  }
}

/* ====================DESKTOP==================== */

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .categories-box {
    width: 356px;
    margin-bottom: 86px;
  }
}
