.top-btn {
  display: none; /* Починається зі спрятаного стану */
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 9999;
  padding: 10px;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid rgba(79, 46, 232, 0.3);
  background-color: #4f2ee8;
  border-radius: 40px;
  overflow: hidden;

  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #4f2ee8 inset, 0 0 10px 4px #4f2ee8;
  }
}

.dark .top-btn {
  color: #fff;
}
